/* .father{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.child{
    width: 100px;
    height: 100px;
    background-color: chartreuse;

} */